//
// Global Variables
//
$app-height: 750px;
$app-banner-btn-height: 25px;
$header-height: 170px;
$global-padding: 50px;
$content-padding: 15px;

//
// COLORS
//
$color-black: #222;
$color-white: #fff;
$color-transparent: rgba(0, 0, 0, 0);

$color-red: #d2232a;
$color-red-dark: #a11f22;
$color-grey: #636466;
$color-grey-dark: #4c4d4f;
$color-grey-light: #f4f4f5;

//
// Sizes
//
$size-max: 1200px;
$size-laptop: 1024px;
$size-tablet: 768px;
$size-mobile: 640px;

//
// TYPEOGRAPHY
//
$type-heavy: 900;
$type-extra-bold: 800;
$type-bold: bold;
$type-medium: normal;
$type-regular: normal;
$type-light: 300;

$font-body: 'Roboto', sans-serif;
$font-size: 1rem;
