//
// Measurements
//
$app-height: 750px;
$app-banner-btn-height: 25px;

//
// COLORS
//
$color-corporate-green: #88a198;
$color-corporate-blue: #4d6182;

$color-primary-dark-blue: #003367;
$color-primary-accent-light-blue: #00eeff;

$color-secondary-accent-orange: #f29d23;
$color-secondary-accent-red: #d2532a;
$color-secondary-accent-dark-grey: #52555d;
$color-secondary-accent-grey: #848487;
$color-secondary-accent-light-grey: #dbd9d6;

//
// Font-sizes
//
$font-size: 1rem;
