.form-check-with-badge {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.2rem;
  line-height: 1.5rem;

  justify-content: space-between;
  align-items: center;

  .form-check {
    flex: 1;

    label {
      width: 100%;
    }
  }
  .badge {
    color: #fff;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
  }
}

.dropdown .form-check-with-badge {
  margin-bottom: 0;
  .form-check {
    padding-right: 1rem;
  }
}
